<div class="content-wrapper">
    <div>
        <h3>My Feeds</h3>
        <button mat-icon-button matTooltip="Neuer Feed" aria-label="Button that shows a red tooltip"
            (click)="addNewFeed()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="short-lists">
        <div class="users">
            <label>Users ({{(users | async)?.length}})</label>
            <ul>
                <li *ngFor="let user of users | async">{{user.data.name}}</li>
            </ul>
        </div>
        <div class="feeds">
            <label>Feeds ({{(feeds | async)?.length}})</label>
            <ul>
                <li *ngFor="let feed of feeds | async">{{feed.data.author}}: {{feed.data.title}}</li>
            </ul>
        </div>
    </div>
    
    <div class="feed-detailed-list">
        <dph-my-feeds [feeds]="feeds | async"></dph-my-feeds>
    </div>
</div>