.playground-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;



    // height: 100%;


    .mat-tab-group {
        display: flex;
        justify-content: center;
        width: 100%;


        .mat-tab-labels {
            display: flex;
            justify-content: center;
        }

    }


    // user
    .user-edit {

        .editing-buttons {

            justify-content: space-around;

            width: 100%;
        }
    }

    .feeds-header {

        display: flex;
        align-items: center;
        width: 100%;
    }


    .short-lists {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 500px) {
            flex-direction: column;
        }

        .feeds {
            margin-left: 20px;
            flex-grow: 1;

            @media screen and (max-width: 500px) {
                flex-grow: unset;
                margin-left: 0;
            }
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;
        width: 100%;


        border-bottom: 2px solid #000;

        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
            padding-left: 0;

            li {
                text-align: center;
            }
        }
    }

    h3 {
        margin: 1rem 0;
    }
}
