<div class="playground-wrapper" *transloco="let t; read: 'playground'">
  <h1 class="mat-display-1">{{ t("title") }}</h1>

  <!-- <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-select [formControl]="playgroundControl">
        <mat-option
          *ngFor="let option of playgrounds$ | async"
          [value]="option"
          >{{ option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </form> -->

  <span [ngSwitch]="playgroundControl.value">
    <div *ngSwitchCase="'Ants'">
      <dph-food-game #ants></dph-food-game>
    </div>
    <div *ngSwitchCase="'Animations'">
      <dph-animations #animations></dph-animations>
    </div>
    <div *ngSwitchCase="'Feeds'">
      <dph-my-feeds #feeds></dph-my-feeds>
    </div>
    <div *ngSwitchCase="'Learning By Doing'">
      <dph-learning-by-doing #learningByDoing></dph-learning-by-doing>
    </div>
    <div *ngSwitchCase="'Memory'">
      <dph-memory-game #memoryGame></dph-memory-game>
    </div>
    <div *ngSwitchDefault></div>
  </span>
</div>
