<div class="view-mode-switch">
    <!-- TODO: should be a group of checkboxes! -->

    <div class="switch">
        <button id="btn-edit" class="btn" mat-icon-button matTooltip="Editieren"
            aria-label="Button that shows a red tooltip" (click)="select('edit')">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="switch">
        <button id="btn-minimize" class="btn" mat-icon-button matTooltip="Minimieren" (click)="select('minimize')">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
    <div class="switch">
        <button id="btn-maximize" class="btn" mat-icon-button matTooltip="Maximieren" (click)="select('maximize')">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="switch">
        <button id="btn-close" class="btn" mat-icon-button matTooltip="Löschen" (click)="select('delete')">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <!-- TODO: should be a group of checkboxes! end -->

</div>