.header-container {
    width: 100%;

    transition: opacity .3s ease-in;

    .button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        max-width: 1000px;

        margin: 0 auto;
    }

    .user-login-state {
      // border: 1px solid black;
      border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .user-state {
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    .orange-circle {
        background-color: orange;
    }

    .green-circle {
        background-color: green;
    }

    .red-circle {
        background-color: red;
    }



    .isActiveRoute {
      color: var(--primaryColor);
      // border: 3px solid deeppink;
    }
}
