<mat-toolbar class="header-container">
  <div class="button-container">
    <div>
      <button
        id="btn-home"
        class="header-btn"
        [ngClass]="{'isActiveRoute': isActiveRoute('home')}"
        mat-icon-button
        (click)="goto('home')"
        matTooltip="Home"
      >

        <mat-icon>home_outline</mat-icon>
      </button>
    </div>

    <button
      id="btn-stack"
      class="header-btn"
      [ngClass]="{'isActiveRoute': isActiveRoute('stack')}"
      mat-icon-button
      (click)="goto('stack')"
      matTooltip="Abyte"
    >
      <mat-icon>work</mat-icon>
    </button>

    <button
      id="btn-about"
      class="header-btn"
      [ngClass]="{'isActiveRoute': isActiveRoute('about')}"
      mat-icon-button
      (click)="goto('about')"
      matTooltip="About"
    >
      <mat-icon>person_outline</mat-icon>
    </button>

    <button
      id="btn-playground"
      class="header-btn"
      [ngClass]="{'isActiveRoute': isActiveRoute('playground')}"
      mat-icon-button
      (click)="goto('playground')"
      matTooltip="Meine Spielwiese"
    >
      <mat-icon>accessible_forward</mat-icon>
    </button>


    <!-- User State -->
    <!-- <div>
      <button
        id="btn-login"
        class="header-btn user-login-state"
        mat-icon-button
        (click)="showLogin()"
        matTooltip="Login"
      >
        <div class="user-login-state">
          <mat-icon>login</mat-icon>
          <div [ngSwitch]="userStatus">
            <div
              *ngSwitchCase="'pending'"
              class="user-state orange-circle"
            ></div>
            <div
              *ngSwitchCase="'loggedIn'"
              class="user-state green-circle"
            ></div>
            <div *ngSwitchDefault class="user-state red-circle"></div>
          </div>
        </div>
      </button>
    </div> -->
    <!-- User State end -->
  </div>

  <dph-language-switch></dph-language-switch>

  <!-- <button id="btn-help" class="header-btn" mat-icon-button (click)="goto('help')" matTooltip="Halp">
        <mat-icon>help_outline</mat-icon>
    </button> -->
</mat-toolbar>
