.header-container {
    width: 100%;

    opacity: 1;

    transition: opacity .3s ease-in;

    // z-index: 2;

    .button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        max-width: 1000px;

        margin: 0 auto;
    }
}

.hide-ui {
    opacity: 0.3;
}