<div class="content-wrapper" *transloco="let t; read: 'stack'">
  <h1 class="mat-display-1">{{ t('title') }}</h1>
  <p>{{ t('paragraph-1') }}</p>
  <p>{{ t('paragraph-2') }}</p>
  <p>{{ t('paragraph-3') }}</p>
  <p>{{ t('paragraph-4') }}</p>
  <p>{{ t('paragraph-5') }}</p>
    <!-- <ul>
        <li>Angular 10</li>
        <li>RxJS</li>
        <li>CSS | Sass | Less</li>
        <li>TypeScript | JavaScript | (Java)</li>
        <li>GIT</li>
    </ul>

    <label>Tools</label>
    <ul>
        <li>Attlassian Toolkit: Jira | Stash | Bamboo</li>
        <li>Visual Studio Code | IntelliJ</li>
        <li>Notepad++ <3</li>
    </ul> -->
</div>
