// .app-wrapper {
//     position: absolute;
//     top: 0;
//     left: 0;
// }

.app-wrapper {
  width: 100vw;

  .content-wrapper {
    border: 3px dashed deeppink;
//         // padding: 10px 20px;
    height: 100%;
//         overflow-y: auto;
//         // height: 500px;
//         max-width: 700px;

  }
}

.header-wrapper {
    // height: var(--header-height);
    position: sticky;
    top: 0;
    left: 0;

    z-index: 1;
}

.router-wrapper {
    position: relative;

    padding: 1rem 2rem;
    margin: 0 auto;

    max-width: 1000px;

    overflow-y: auto;
    scrollbar-width: none;

    // height: calc(100vh - var(--header-height));
}
