<div class="feeds-header">
    <h3>My Feeds</h3>
    <button mat-icon-button matTooltip="Neuer Feed" aria-label="Button that shows a red tooltip"
        (click)="addNewFeed()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<hr>

<div class="short-lists">
    <div class="users">
        <label>Users ({{(users$ | async)?.length}})</label>
        <ul>
            <li *ngFor="let user of users$ | async">
                <b>{{user.data.name}}</b><br/>
                {{user.data.ytChannelName}}<br/>
                {{user.data.ytChannelId}}<br/>
            </li>
        </ul>
    </div>
    <div class="feeds">
        <label>Feeds ({{(feeds$ | async)?.length}})</label>
        <ul>
            <li *ngFor="let feed of feeds$ | async">{{feed.data.author}}: {{feed.data.title}}</li>
        </ul>
    </div>
</div>

<div class="feeds">
    <div *ngFor="let feed of feeds$ | async; let i=index" class="feed">
        <dph-feed [feed]="feed" [viewMode]="getViewMode(i)"></dph-feed>
    </div>

</div>