<!-- <highcharts-chart
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->


<!-- <highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->


<div>
  <div>
      <button mat-raised-button (click)="toggleGamePause()">Play / Pause</button>
      <button mat-raised-button (click)="startGame()">New Game</button>
  </div>
  <div>
    <h3>{{generation}}</h3>
  </div>
  <div class="canvas-container">
      <canvas id="ants-canvas"></canvas>
  </div>

</div>
